/* body */
body {
background: rgba(212,228,239,1);
background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
text-align: center
}

.divTable{
  display: table;
      margin: 0 auto;
}
input {
  padding:10px;
  width:16px;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border: 1px solid black;
    border-bottom:0px;
    border-top:0px;
  display: table-cell;
  padding: 0px 0px;
}
.divTableCell:nth-child(3), .divTableHead {
  border-right: 3px solid black;
}
.divTableCell:nth-child(4), .divTableHead {
  border-left: 3px solid black;
}
.divTableCell:nth-child(6), .divTableHead {
  border-right: 3px solid black;
}
.divTableCell:nth-child(7), .divTableHead {
  border-left: 3px solid black;
}


.spacer {
  width:920%;
height:6px;
  background-color: black;
}


.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}