/* body */
body {
  background-image: url("desk.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  height:100vh;
}

h1 {
  margin-bottom:1px;
}

button {
  background: #428BCA;
  color: #fff;
  font-family: Sans-serif;
  font-size: 14px;
  height: 40px;
  width: 70px;
  line-height: 20px;
  margin:15px 15px;
  text-align: center;
  border: 0;
  transition: all 0.3s ease 0s;
}

button:hover {
  background: #3071A9
}

.divTable{
  display: table;
  margin: 0 auto;
}
input {
  padding:10px;
  width:16px;
  font-size: 20px
}
input[type=text]:focus {
  outline:none;
}
input[readonly] {
  font-weight:bold;
  color:#c0392b;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border: 1px solid black;
  border-bottom:0px;
  border-top:0px;
  display: table-cell;
  padding: 0px 0px;
}
.divTableCell:nth-child(3), .divTableHead {
  border-right: 3px solid black;
}
.divTableCell:nth-child(6), .divTableHead {
  border-right: 3px solid black;
}
.divTableCell:nth-child(9), .divTableHead {
  border-right: 6px solid black;
}
.divTableCell:nth-child(1), .divTableHead {
  border-left: 6px solid black;
}
.divTableCell:nth-child(4), .divTableHead {
  border-left: 3px solid black;
}

.divTableCell:nth-child(7), .divTableHead {
  border-left: 3px solid black;
}

.spacer {
  width:844%;
height:6px;
  background-color: black;
}

.vertspacer {
  height:500px;
  background-color:black;
  width:6px;
  float:left;
  margin-right:10px;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}